* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div {
  position: relative;
  min-height: 1px;
}

ul {
  list-style: none;
}

html {
  font-size: 14px;
}

a {
  text-decoration: none;
}

.flex, .inline, .list {
  display: flex;
  flex-wrap: wrap;
}

.inline {
  flex-direction: row;
}

.inline.around {
  justify-content: space-around;
}

.inline.between {
  justify-content: space-between;
}

.inline.at-end {
  justify-content: flex-end;
}

.inline.at-start {
  justify-content: flex-start;
}

.list {
  flex-direction: column;
}

.w1 {
  width: 1%;
}

.w2 {
  width: 2%;
}

.w3 {
  width: 3%;
}

.w4 {
  width: 4%;
}

.w5 {
  width: 5%;
}

.w6 {
  width: 6%;
}

.w7 {
  width: 7%;
}

.w8 {
  width: 8%;
}

.w9 {
  width: 9%;
}

.w10 {
  width: 10%;
}

.w11 {
  width: 11%;
}

.w12 {
  width: 12%;
}

.w13 {
  width: 13%;
}

.w14 {
  width: 14%;
}

.w15 {
  width: 15%;
}

.w16 {
  width: 16%;
}

.w17 {
  width: 17%;
}

.w18 {
  width: 18%;
}

.w19 {
  width: 19%;
}

.w20 {
  width: 20%;
}

.w21 {
  width: 21%;
}

.w22 {
  width: 22%;
}

.w23 {
  width: 23%;
}

.w24 {
  width: 24%;
}

.w25 {
  width: 25%;
}

.w26 {
  width: 26%;
}

.w27 {
  width: 27%;
}

.w28 {
  width: 28%;
}

.w29 {
  width: 29%;
}

.w30 {
  width: 30%;
}

.w31 {
  width: 31%;
}

.w32 {
  width: 32%;
}

.w33 {
  width: 33%;
}

.w34 {
  width: 34%;
}

.w35 {
  width: 35%;
}

.w36 {
  width: 36%;
}

.w37 {
  width: 37%;
}

.w38 {
  width: 38%;
}

.w39 {
  width: 39%;
}

.w40 {
  width: 40%;
}

.w41 {
  width: 41%;
}

.w42 {
  width: 42%;
}

.w43 {
  width: 43%;
}

.w44 {
  width: 44%;
}

.w45 {
  width: 45%;
}

.w46 {
  width: 46%;
}

.w47 {
  width: 47%;
}

.w48 {
  width: 48%;
}

.w49 {
  width: 49%;
}

.w50 {
  width: 50%;
}

.w51 {
  width: 51%;
}

.w52 {
  width: 52%;
}

.w53 {
  width: 53%;
}

.w54 {
  width: 54%;
}

.w55 {
  width: 55%;
}

.w56 {
  width: 56%;
}

.w57 {
  width: 57%;
}

.w58 {
  width: 58%;
}

.w59 {
  width: 59%;
}

.w60 {
  width: 60%;
}

.w61 {
  width: 61%;
}

.w62 {
  width: 62%;
}

.w63 {
  width: 63%;
}

.w64 {
  width: 64%;
}

.w65 {
  width: 65%;
}

.w66 {
  width: 66%;
}

.w67 {
  width: 67%;
}

.w68 {
  width: 68%;
}

.w69 {
  width: 69%;
}

.w70 {
  width: 70%;
}

.w71 {
  width: 71%;
}

.w72 {
  width: 72%;
}

.w73 {
  width: 73%;
}

.w74 {
  width: 74%;
}

.w75 {
  width: 75%;
}

.w76 {
  width: 76%;
}

.w77 {
  width: 77%;
}

.w78 {
  width: 78%;
}

.w79 {
  width: 79%;
}

.w80 {
  width: 80%;
}

.w81 {
  width: 81%;
}

.w82 {
  width: 82%;
}

.w83 {
  width: 83%;
}

.w84 {
  width: 84%;
}

.w85 {
  width: 85%;
}

.w86 {
  width: 86%;
}

.w87 {
  width: 87%;
}

.w88 {
  width: 88%;
}

.w89 {
  width: 89%;
}

.w90 {
  width: 90%;
}

.w91 {
  width: 91%;
}

.w92 {
  width: 92%;
}

.w93 {
  width: 93%;
}

.w94 {
  width: 94%;
}

.w95 {
  width: 95%;
}

.w96 {
  width: 96%;
}

.w97 {
  width: 97%;
}

.w98 {
  width: 98%;
}

.w99 {
  width: 99%;
}

.w100 {
  width: 100%;
}

.p-w1 {
  margin-left: 1%;
}

.p-w2 {
  margin-left: 2%;
}

.p-w3 {
  margin-left: 3%;
}

.p-w4 {
  margin-left: 4%;
}

.p-w5 {
  margin-left: 5%;
}

.p-w6 {
  margin-left: 6%;
}

.p-w7 {
  margin-left: 7%;
}

.p-w8 {
  margin-left: 8%;
}

.p-w9 {
  margin-left: 9%;
}

.p-w10 {
  margin-left: 10%;
}

.p-w11 {
  margin-left: 11%;
}

.p-w12 {
  margin-left: 12%;
}

.p-w13 {
  margin-left: 13%;
}

.p-w14 {
  margin-left: 14%;
}

.p-w15 {
  margin-left: 15%;
}

.p-w16 {
  margin-left: 16%;
}

.p-w17 {
  margin-left: 17%;
}

.p-w18 {
  margin-left: 18%;
}

.p-w19 {
  margin-left: 19%;
}

.p-w20 {
  margin-left: 20%;
}

.p-w21 {
  margin-left: 21%;
}

.p-w22 {
  margin-left: 22%;
}

.p-w23 {
  margin-left: 23%;
}

.p-w24 {
  margin-left: 24%;
}

.p-w25 {
  margin-left: 25%;
}

.p-w26 {
  margin-left: 26%;
}

.p-w27 {
  margin-left: 27%;
}

.p-w28 {
  margin-left: 28%;
}

.p-w29 {
  margin-left: 29%;
}

.p-w30 {
  margin-left: 30%;
}

.p-w31 {
  margin-left: 31%;
}

.p-w32 {
  margin-left: 32%;
}

.p-w33 {
  margin-left: 33%;
}

.p-w34 {
  margin-left: 34%;
}

.p-w35 {
  margin-left: 35%;
}

.p-w36 {
  margin-left: 36%;
}

.p-w37 {
  margin-left: 37%;
}

.p-w38 {
  margin-left: 38%;
}

.p-w39 {
  margin-left: 39%;
}

.p-w40 {
  margin-left: 40%;
}

.p-w41 {
  margin-left: 41%;
}

.p-w42 {
  margin-left: 42%;
}

.p-w43 {
  margin-left: 43%;
}

.p-w44 {
  margin-left: 44%;
}

.p-w45 {
  margin-left: 45%;
}

.p-w46 {
  margin-left: 46%;
}

.p-w47 {
  margin-left: 47%;
}

.p-w48 {
  margin-left: 48%;
}

.p-w49 {
  margin-left: 49%;
}

.p-w50 {
  margin-left: 50%;
}

.p-w51 {
  margin-left: 51%;
}

.p-w52 {
  margin-left: 52%;
}

.p-w53 {
  margin-left: 53%;
}

.p-w54 {
  margin-left: 54%;
}

.p-w55 {
  margin-left: 55%;
}

.p-w56 {
  margin-left: 56%;
}

.p-w57 {
  margin-left: 57%;
}

.p-w58 {
  margin-left: 58%;
}

.p-w59 {
  margin-left: 59%;
}

.p-w60 {
  margin-left: 60%;
}

.p-w61 {
  margin-left: 61%;
}

.p-w62 {
  margin-left: 62%;
}

.p-w63 {
  margin-left: 63%;
}

.p-w64 {
  margin-left: 64%;
}

.p-w65 {
  margin-left: 65%;
}

.p-w66 {
  margin-left: 66%;
}

.p-w67 {
  margin-left: 67%;
}

.p-w68 {
  margin-left: 68%;
}

.p-w69 {
  margin-left: 69%;
}

.p-w70 {
  margin-left: 70%;
}

.p-w71 {
  margin-left: 71%;
}

.p-w72 {
  margin-left: 72%;
}

.p-w73 {
  margin-left: 73%;
}

.p-w74 {
  margin-left: 74%;
}

.p-w75 {
  margin-left: 75%;
}

.p-w76 {
  margin-left: 76%;
}

.p-w77 {
  margin-left: 77%;
}

.p-w78 {
  margin-left: 78%;
}

.p-w79 {
  margin-left: 79%;
}

.p-w80 {
  margin-left: 80%;
}

.p-w81 {
  margin-left: 81%;
}

.p-w82 {
  margin-left: 82%;
}

.p-w83 {
  margin-left: 83%;
}

.p-w84 {
  margin-left: 84%;
}

.p-w85 {
  margin-left: 85%;
}

.p-w86 {
  margin-left: 86%;
}

.p-w87 {
  margin-left: 87%;
}

.p-w88 {
  margin-left: 88%;
}

.p-w89 {
  margin-left: 89%;
}

.p-w90 {
  margin-left: 90%;
}

.p-w91 {
  margin-left: 91%;
}

.p-w92 {
  margin-left: 92%;
}

.p-w93 {
  margin-left: 93%;
}

.p-w94 {
  margin-left: 94%;
}

.p-w95 {
  margin-left: 95%;
}

.p-w96 {
  margin-left: 96%;
}

.p-w97 {
  margin-left: 97%;
}

.p-w98 {
  margin-left: 98%;
}

.p-w99 {
  margin-left: 99%;
}

.p-w100 {
  margin-left: 100%;
}

.img-auto {
  max-width: 100%;
  height: auto;
}

.font-s11 {
  font-size: 1.1rem;
}

.font-s12 {
  font-size: 1.2rem;
}

.font-s13 {
  font-size: 1.3rem;
}

.font-s14 {
  font-size: 1.4rem;
}

.font-s15 {
  font-size: 1.5rem;
}

.font-s16 {
  font-size: 1.6rem;
}

.font-s17 {
  font-size: 1.7rem;
}

.font-s18 {
  font-size: 1.8rem;
}

.font-s19 {
  font-size: 1.9rem;
}

.font-s21 {
  font-size: 2.1rem;
}

.font-s22 {
  font-size: 2.2rem;
}

.font-s23 {
  font-size: 2.3rem;
}

.font-s24 {
  font-size: 2.4rem;
}

.font-s25 {
  font-size: 2.5rem;
}

.font-s26 {
  font-size: 2.6rem;
}

.font-s27 {
  font-size: 2.7rem;
}

.font-s28 {
  font-size: 2.8rem;
}

.font-s29 {
  font-size: 2.9rem;
}

.font-s31 {
  font-size: 3.1rem;
}

.font-s32 {
  font-size: 3.2rem;
}

.font-s33 {
  font-size: 3.3rem;
}

.font-s34 {
  font-size: 3.4rem;
}

.font-s35 {
  font-size: 3.5rem;
}

.font-s36 {
  font-size: 3.6rem;
}

.font-s37 {
  font-size: 3.7rem;
}

.font-s38 {
  font-size: 3.8rem;
}

.font-s39 {
  font-size: 3.9rem;
}

.font-s41 {
  font-size: 4.1rem;
}

.font-s42 {
  font-size: 4.2rem;
}

.font-s43 {
  font-size: 4.3rem;
}

.font-s44 {
  font-size: 4.4rem;
}

.font-s45 {
  font-size: 4.5rem;
}

.font-s46 {
  font-size: 4.6rem;
}

.font-s47 {
  font-size: 4.7rem;
}

.font-s48 {
  font-size: 4.8rem;
}

.font-s49 {
  font-size: 4.9rem;
}

.font-s51 {
  font-size: 5.1rem;
}

.font-s52 {
  font-size: 5.2rem;
}

.font-s53 {
  font-size: 5.3rem;
}

.font-s54 {
  font-size: 5.4rem;
}

.font-s55 {
  font-size: 5.5rem;
}

.font-s56 {
  font-size: 5.6rem;
}

.font-s57 {
  font-size: 5.7rem;
}

.font-s58 {
  font-size: 5.8rem;
}

.font-s59 {
  font-size: 5.9rem;
}

.middle, .f-middle {
  align-items: center;
}

.f-middle {
  justify-content: center;
}

.shadow {
  box-shadow: 0px 2px 15px 0px rgba(69, 68, 69, 0.69);
}

.overgrid div {
  float: left;
}

.text-end {
  text-align: right;
}

.text-start {
  text-align: left;
}

.text-center {
  text-align: center;
}

.left-push {
  float: left;
}

.right-push {
  float: right;
}

.free-grid {
  position: absolute;
}
